*{
    margin: 0px;
    padding: 0px;
}

.Banner{
    margin: 0px 0px;
    margin-top: 110px;
    background-color: orange;
    height: 100px;
}
.Banner .b1{
    width: 100%;
    height: 60px;
    background-color: red;
    height: 100%;
}
.Banner .b1 img{
    width: 100%;
    height: 100px;
}
.Banner .b2{
    width: 100%;
}

.Banner .b2 img{
    width: 100%;
    height: 100%;
}

.Banner .b3{
    width: 100%;
}

.Banner .b3 img{
    width: 100%;
    height: 100%;
}

.Banner .b4{
    display: flex;
    align-items: center;
    height: 160px;
}
.Banner .b4 .b4-1{
    width: 50%;
    height: 100%;
}

.Banner .b4 .b4-1 img{
    width: 100%;
    height: 100%;
}
.Banner .b4 .b4-2{
    width: 50%;
    height: 100%;
}

.Banner .b4 .b4-2 img{
    width: 100%;
    height: 100%px;
}
.Banner .b5{
    width: 100%;
}
.Banner .b5 img{
    width: 100%;
    height: 100%;
}

