.Category{
    margin-top: 60px;
}
.Category .mainimg{
    width: 100%;
}
.Category .mainimg img{
    width: 100%;
}
.Category .items{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Category .items img{
    margin: 20px 1px; 
}
.Category .footimg{
    width: 100%;
    margin-bottom: 50px;
}
.Category .footimg img{
    width: 100%;
}
